
*{
    margin: 0 ;
    padding:0;
    box-sizing: border-box;

}
#about{
    text-align: justify;
    margin: auto 3rem;
}
#services{
    text-align: justify;
    margin: auto 3rem;
}
#protfolio{
    text-align: justify;
    margin: auto 3rem;
}
html{
    scroll-behavior: smooth;
}

body {
    background-color:rgb(0, 0, 33);
    color:white;
     font-family: 'Poppins', sans-serif;
     align-items: center !important;
   
    
}

/* nav */

.left {
    font-size:25px;
    font-weight: bold;
    margin-right: 20px; 
}
.left a{
    text-decoration: none;
    color: #fff;
    font-weight: 700 !important;
}


.menu-icon {
    display: none;
    cursor: pointer;
}




.container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.navbar{
   
    width: 100%;
    background: rgb(18, 18, 62);
    color: #fff;
    opacity: 0.85;
    z-index: 100;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.menu-items{
    order: 2;
    display: flex;
}

.menu-items li{
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.3rem;
}

.navbar a{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
transition: all .5s;
}
nav ul li a:hover {
color: #fff;
}


nav.navbar ul li a {
position:relative;
z-index: 1;
}
nav.navbar ul li a:hover {
color: #fff;
}
nav.navbar ul li a:after {
display: block;
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
margin: auto;
width: 100%;
height: 1px;
content: '.';
color: transparent;
background: #ff004f;
visibility: none;
opacity: 0;
z-index: -1;
}
nav.navbar ul li a:hover:after {
opacity: 1;
visibility: visible;
height: 100%;
} 
@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    .right ul {
        display: none;
        flex-direction: column;
        background-color:rgb(18, 18, 62);
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        text-align: center;
    }

    .right ul.active {
        display: flex;
    }

    .right ul li {
        margin-right: 0;
        padding: 10px 0;
    }
}



/* two sections */
.container {
    display: flex; 
}

.text-section {
    flex: 1; 
    text-align: center;
    padding-top: 6rem;
   
}

.image-section {
    flex: 1; 
    text-align: center;
    padding: 20px;
}

.image-section img {
    max-width: 100%;
    height: auto;
}
@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Stack sections on top of each other */
    }
    .text-section, .image-section {
        flex: auto; /* Reset flex values to distribute space evenly */
        width: 100%; /* Occupy 100% width of the container */
    }
}
.p{
color: #ff004f;
}
.typing-container {
text-align: center;
margin-top: -11px;
}

.typing-text {
display: inline-block;
white-space: nowrap;
overflow: hidden;
letter-spacing: 0.15em;
animation: typing 5s steps(40, end) infinite;
}

@keyframes typing {
0% {
width: 0;
}
100% {
width: 100%;
}


}  
.button {
    display: inline-block;
    padding: 10px 20px;
    color: #fff; 
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    font-weight: bold; 
    transition: background-color 0.3s, transform 0.2s;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    color: #fff; 
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    font-weight: bold; 
    transition: background-color 0.3s, transform 0.2s;
}



.contact-button {
    background-color: #ff004f; 
}


.services-button {
    background-color: #ff004f; 
}

/* Hover effect */
.button:hover {
    background-color: #cf3b6a;
    transform: scale(1.05);
}


@media (max-width: 768px) {
    .button {
        padding: 8px 16px; 
        margin-right: 5px;
    }
}
.button-container {
    display: flex;
    gap: 10px; 
    padding-top: 100px;
}

.button-section{
    margin-top: 3.5rem;
}

/* about me  */
#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.about-col-1{
    flex-basis: 35%;

}
.about-col-1 img{
    width: 80%;
    border-radius: 15px;

}

.about-col-2{
    flex-basis: 60%;
}
.sub{
 font-size: 40px;
 font-weight: 600;
 color: #fff;
 display:flex !important;
 justify-content: center;
}
.contact-sub{
 font-size: 40px;
 font-weight: 600;
 color: #fff;
}
.tab-titles{
    display: flex;
margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background:#ff004f;
    position:absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;

}

.tab-links.active-link::after{
    width:50% ;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #b54769;
    font-size: 14px;
}
.tab-contents {
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/* services  */
#services {
    padding: 30px 0;
}
.services-list{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   grid-gap: 40px;
   margin-top: 50px;

}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: backgroud 0.5s, transform 0.5s;

}
.services-list div i{
    font-size: 30px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover{
    background: #ff004f;
    transform: translateY(-10px);
}
/* protfolio */
#portfolio{
padding: 50px 0;
}
.work-list{
    display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   grid-gap: 40px;
   margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;

}
.work img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #ff004f;
    font-size: 18px;
    line-height:60px ;
    background:#fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
 transform: scale(1.1) ;
}
.work:hover .layer {
    height:100% ;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
}
.btn:hover{
    background: #ff004f;

}
.sib{
    display: block;
    margin: 40px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    background: #ff004f;
    margin-left: 17px;
    transition: background-color 0.3s, transform 0.2s;
}
.sib:hover{
    background-color: #cf3b6a;
  transform: scale(1.05);
}


/* contact me  */
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis:60% ;
}
.contact-left p{
    margin-top: 30px;

}
.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;

}
.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}
.btn.btn2{
display: inline-block;
background: #ff004f;
}

.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;

}
form btn2{
    padding: 14px 60px;
    font-size:18px ;
    margin-top: 20px;
    cursor: pointer;
}

/* -------css for small screen----------- */
@media only screen and (max-witdh:600px){
.sub{
    font-size: 40px;
}
.about-col-1, .about-col-2{
    flex-basis: 100%;
}
.about-col-1{
    margin-bottom: 30px;
}
.about-col-2{
    font-size: 14px;
}
.tab-links{
    font-size: 16px;
    margin-right: 20px;
}
.contact-left,.contact-right{
    flex-basis: 100%;
}
/* .copyright{
display: block;
} */
}
#msg{
    color: #61b752;
    padding: 20px 20px;
    margin-top: -40px;
    display: block;

}
/* footer  */
.copyright{
    width: 100%;
    text-align: center;
    padding: 5px 0;
    background: #262626;
    /* font-weight: 300; */
    margin-top: 20px;
}
.copyright i{
    color: #fff;
}
p{
    
    font-size: 1.2rem !important;

}
